.App{
  background: -webkit-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: -o-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: -moz-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  font-size: 1em;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row-reverse;
  justify-content: space-around;
  

}
.fileinput{
  display: flex;
}
/* .upload-div:hover {
  background-color: black;
  color: white;} */

.buttons:hover {
background-color: black;
color: white;
}
/* 
div {
  outline: 0.5px solid Red;
} */